extends layout

block content
    h1= title
    p Ingreso de Usuario
        form(role='form' method='POST' action='/login')
            table
                thead
                    tr
                        th Nombre
                        th Contraseña
                tbody
                    tr
                        td
                            div.form-group
                            label(for='name') Name:
                            input#name.form-control(type='text' placeholder='Username' name='username')
                        td
                            div.form-group
                            label(for='password') Password:
                            input#email.form-control(type='password' placeholder='Password' name='password')
                    tr
                        td
                            button.btn.btn-primary(type="submit" name="Grabar") Ingresar